.settings {
  position: fixed;
  top: 40%;
  right: 0px;

  .toggler {
    border-radius: 4px 0px 0px 4px;
    background-color: gainsboro;
    width: 55px;
    margin-left: auto;
    font-size: 13px;
  }

  .options-list {
    position: relative;
    background-color: #e2e2e2;
    border-radius: 4px 0px 0px 4px;
    margin-top: 6px;
    transform: translateX(100%);
    transition: transform .3s;
    font-size: 15px;
    overflow: hidden;

    &.open {
      transform: translateX(0px);
    }

    .option.selected {
      background-color: gray;
      color: white;
    }
  }
}