/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

:root {
  --bs-primary-rgb: 23, 142, 66;
  --bs-secondary-rgb: 36,36,36;
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  // background-color: black!important;
}

.c-pointer {
  cursor: pointer;
}