@use '@angular/material' as mat;
@use 'sass:map';

@include mat.core();

$material-primary: mat.define-palette(mat.$indigo-palette, 500);
$material-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$material-warn: mat.define-palette(mat.$red-palette);
$material-theme: mat.define-light-theme((
 color: (
   primary: $material-primary,
   accent: $material-accent,
   warn: $material-warn,
 )
));
$material-dark-theme: mat.define-dark-theme((
  color: (
    primary: $material-primary,
    accent: $material-accent,
    warn: $material-warn,
  )
));

$spotify-primary: mat.define-palette(mat.$green-palette, 600);
$spotify-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$spotify-warn: mat.define-palette(mat.$red-palette);
$spotify-theme: mat.define-light-theme((
 color: (
   primary: $spotify-primary,
   accent: $spotify-accent,
   warn: $spotify-warn,
 )
));
$spotify-dark-theme: mat.define-dark-theme((
  color: (
    primary: $spotify-primary,
    accent: $spotify-accent,
    warn: $spotify-warn,
  )
));



@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');


  .primary-text {
    color: mat.get-color-from-palette($primary-palette, 500);
  }
}

body.material-light {
  background-color: #fff;
  @include mat.all-component-themes($material-theme);
  @include color($material-theme);
}

body.material-dark {
  background-color: #000;
  @include mat.all-component-themes($material-dark-theme);
  @include color($material-dark-theme);
}

body.spotify-light {
  background-color: #fff;
  @include mat.all-component-themes($spotify-theme);
  @include color($spotify-theme);
}

body.spotify-dark {
  background-color: #000;
  @include mat.all-component-themes($spotify-dark-theme);
  @include color($spotify-dark-theme);
}

body {
  .mat-form-field {
    display: block;
  }

  &[class*='spotify'] {
    .mat-form-field-outline-start {
      border-radius: 28px 0 0 28px !important;
      min-width: 28px !important;
      border: none!important;
    }
    .mat-form-field-outline-end {
      border-radius: 0 28px 28px 0 !important;
      border: none!important;
    }
    .mat-form-field-outline {
      border-radius: 28px!important;
      box-shadow: inset -10px -10px 15px 8px rgb(200 200 200 / 12%), inset 0px 0px 15px 8px rgb(0 0 0 / 12%);
    }
    .mat-form-field-outline-gap {
      border-color: transparent!important;
    }
    .mat-form-field-infix {
      border-top-width: 0.34375em;
    }
    .mat-form-field-label-wrapper {
      top: -0.54375em;

      label {
        color: rgb(36, 36, 36);
      }
    }
    .mat-focused, .mat-form-field-should-float{
      .mat-form-field-label {
        display: none;
      }
    }
    button.mat-flat-button {
      border-radius: 100px;
      color: white!important;
      font-size: 16px;
      width: 100%;
      background: linear-gradient(90deg, #137335 0%, #1eb955 100%);
    }
  }

  &[class*='dark'] {
    .secondary-text {
      color: rgb(36, 36, 36);
    }
    .mat-mini-fab {
      box-shadow: -4px -4px 15px -5px rgb(255 255 255 / 50%), 5px 5px 10px -10px rgb(70 70 70 / 12%)!important;
    }
    .secondary-bg {
      background-color: #000!important;
      color: white!important;
    }
    ::placeholder {
      color: #252427!important;
    }
  }

  &[class*='light'] {
    .secondary-text {
      color: rgb(200, 200, 200);
    }
    .mat-mini-fab {
      box-shadow: -4px -4px 15px -5px rgb(70 70 70 / 50%), 5px 5px 10px -10px rgb(180 180 180 / 12%)!important;
    }
  }
}